<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManageUser" />
                <binding name="BasicHttpBinding_IRunReport" />
                <binding name="BasicHttpBinding_IManageTopic" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3700/Service/ManageUser"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManageUser"
                contract="ManageUserProxy.IManageUser" name="BasicHttpBinding_IManageUser" />
            <endpoint address="http://localhost:3700/Service/RunReport" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRunReport" contract="RunReportProxy.IRunReport"
                name="BasicHttpBinding_IRunReport" />
            <endpoint address="http://localhost:3700/Service/ManageTopic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManageTopic"
                contract="ManageTopicProxy.IManageTopic" name="BasicHttpBinding_IManageTopic" />
        </client>
    </system.serviceModel>
</configuration>